@model ContosoUniversity.Models.SchoolViewModels.RegProfModel

@{
    ViewData["Title"] = "Register Professor";
}

<h2>Create</h2>

<form asp-controller="Professors" asp-action="Create">
    <div class="form-horizontal">
        <h4>Professor</h4>
        <hr />
        <div  asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="password" asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FirstMidName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FirstMidName" class="form-control" />
                <span asp-validation-for="FirstMidName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DepartmentID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="DepartmentID" class="form-control" asp-items="ViewBag.DepartmentID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OfficeAssignment.Location" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OfficeAssignment.Location" class="form-control" />
                <span asp-validation-for="OfficeAssignment.Location" class="text-danger" />
            </div>
        </div>

        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @{ 
                    {
                        <table id="courseTable">
                            <tr id="row0">
                                <td>
                                    <select class="courseAddProf form-control" id="select1" name="selectedCourses[0]"
                                             asp-items="ViewBag.Courses">
                                        <option>===Select a Course===</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="courseAddProf form-control" id="select2" name="selectedSemesters[0]"
                                            asp-items="ViewBag.Semesters">
                                        <option>===Select a Semester===</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="button" class="courseAddProf btn btn-success" value="Remove" onClick="removeInput('row0');">
                                </td>
                            </tr>
                        </table>
                        <input type="button" class="btn btn-success" value="Add a course" onClick="addInput('courseTable');">

                    }
                }
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-1 col-md-1">
                <a class="btn btn-info" asp-action="Index">Return</a>
            </div>
            <div class="col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

@*<div>
    <a class="btn btn-info" asp-action="Index">Return</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @*<script>
        var counter = 1;
        var limit = 15;
        function addInput(divName) {
            if (counter == limit) {
                alert("Please avoid adding too much courses at one time");
            }
            else {
                var clone = $("#row0").clone();
                clone.attr("id", "row" + counter);
                clone.find("#select1").attr({ "name": 'selectedCourses[' + counter + ']', "class": 'courseAddProf form-control' });
                clone.find("#select2").attr({ "name": 'selectedSemesters[' + counter + ']', "class": 'courseAddProf form-control' });
                clone.find('input').attr({ "onClick": 'removeInput("#row' + counter + '")', "class": 'courseAddProf btn btn-success'});
                $("#courseTable").append(clone);
                counter++;
            }
        }
        function removeInput(divName) {
            if(divName != "#row0")
                $(divName).remove();
            //var element = document.getElementById(divName);
            //element.parentNode.removeChild(element);
        }

    </script>*@
}
