@model ContosoUniversity.Models.SchoolViewModels.EditProf

@{
    ViewData["Title"] = "Edit " + Model.FullName + " Profile";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Professor</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="RowVersion" />
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="FirstMidName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FirstMidName" class="form-control" />
                <span asp-validation-for="FirstMidName" class="text-danger" ></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger" ></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DepartmentID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="DepartmentID" class="form-control" asp-items="ViewBag.DepartmentID"></select>
                <span asp-validation-for="DepartmentID" class="text-danger" ></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="OfficeAssignment.Location" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OfficeAssignment.Location" class="form-control" />
                <span asp-validation-for="OfficeAssignment.Location" class="text-danger" ></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger" ></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ChangePassword" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input asp-for="ChangePassword" class="form-check-input" value="false" type="radio"> No
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input asp-for="ChangePassword" class="form-check-input" value="true" type="radio"> Yes
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger" ></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger" ></span>
            </div>
        </div>

        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <table id="courseTable">
                    <tr id="row_n" style="display:none;">
                        <td>
                            <select class="courseAddProf form-control" id="select1" 
                                    asp-items="ViewBag.Courses">
                                <option>===Select a Course===</option>
                            </select>
                        </td>
                        <td>
                            <select class="courseAddProf form-control" id="select2" 
                                    asp-items="ViewBag.Semesters">
                                <option>===Select a Semester===</option>
                            </select>
                        </td>
                        <td>
                            <input type="button" class="courseAddProf btn btn-success" value="Remove" onClick="removeInput('row_n');">
                        </td>
                    </tr>
                    @{
                        for (int i = 0; i < Model.Courses.Count; i++)
                        {
                            <tr id="row_@i">
                                <td>
                                    <select class="courseAddProf form-control" id="select1" name="selectedCourses[@i]"
                                            asp-items="ViewBag.Courses" >
                                        <option value="@Model.Courses[i].CourseID">@Model.Courses[i].Course.ShortTitle</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="courseAddProf form-control" id="select2" name="selectedSemesters[@i]"
                                            asp-items="ViewBag.Semesters">
                                        <option value="@Model.Courses[i].SemesterID">@Model.Courses[i].Semester.Title</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="button" class="courseAddProf btn btn-success" value="Remove" onClick="removeInput('#row_@i');">
                                </td>
                            </tr>
                            }
                        }
                </table>
                <input type="button" class="btn btn-success" value="Add a course" onClick="addInput('courseTable');">
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-2">
                <a class="btn btn-info" asp-action="Index">Back to List</a>
            </div>
            <div class="col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@*<div>
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var counter = 1;
        var limit = 15;
        function addInput(divName) {
            if (counter == limit) {
                alert("Please avoid adding too much courses at one time");
            }
            else {
                var clone = $("#row_n").clone();
                clone.attr("id", "row_" + counter);
                clone.attr("style", "display: table-row;");
                clone.find("#select1").attr({ "name": 'selectedCourses[' + counter + ']', "class": 'courseAddProf form-control' });
                clone.find("#select2").attr({ "name": 'selectedSemesters[' + counter + ']', "class": 'courseAddProf form-control' });
                clone.find('input').attr({ "onClick": 'removeInput("#row_' + counter + '")', "class": 'courseAddProf btn btn-success'});
                $("#courseTable").append(clone);
                counter++;
            }
        }
        function removeInput(divName) {

            $(divName).remove();
        }
        $("input[type='password']").each(function () {
            $(this).prop("disabled", true);
            $(this).val("dummY1541");
        });
        $('input[type=radio][name=ChangePassword]').change(function () {
            if (this.value == 'true') {
                $("input[type='password']").each(function () {
                    $(this).prop("disabled", false);
                    $(this).val("");
                });
            }
            else if (this.value == 'false') {
                $("input[type='password']").each(function () {
                    $(this).prop("disabled", true);
                    $(this).val("dummY1541");
                });
            }
        });

    </script>
}
