@font-face {
	font-family: 'Gill Sans MT Pro Book';
	src: url('../fonts/GillSansMTPro-Book.eot');
	src: url('../fonts/GillSansMTPro-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GillSansMTPro-Book.woff') format('woff'),
		url('../fonts/GillSansMTPro-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PT_Sans';
	src: url('../fonts/PT_Sans-Narrow-Web-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway-Regular';
	src: url('../fonts/Raleway-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
table,h1,h2,h3,h4,hr,.navbar,div,a{
    font-family:'PT_Sans' !important;
}
span,p, label{
    font-family:'Raleway-Regular' !important;
}
dt{
        font-size: 14pt;
           overflow:visible !important;
}
dd{
        font-size: 14pt;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
    color:#2E3869 !important;
}
table{
    font-size:14pt;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.markItUpContainer textarea{
    max-width: 1000px !important;
}
/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

.clicked {
        color: #373a3c !important;
        background-color: #e6e6e6 !important;
        border-color: #adadad !important;
        background-image: none !important;
    }

.navbar{
    background-color:#2E3869 !important;
    border-color: #4b4b4b !important;
}
.header .navbar ul.nav>li>a:hover, #boot .header .navbar ul.nav>li>a:focus{
    color: #c9a859 !important;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: #fff !important;
    font-size: 18px !important;
}   
/*.navbar ul {
        text-transform: uppercase!important;
}*/
.navbar-header{
    font-size: 22px !important;
}
.navbar-btn{
    font-size: 18px!important;
}
dd{
    padding-bottom: 10px !important;
}
.btn, select{
    border-radius:1px !important;
}
/*.jumbotron h1{
        text-transform: uppercase !important;
    text-align: center !important;
}
.jumbotron{
    background:#c9a859 !important;
}
.body-content{
    margin-top:50px !important;
}*/
.comment{
    border:solid 1px black;
    padding: 5px;
    min-height:200px;
}

.row-content {
    margin: 0px auto;
    padding: 15px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 250px;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.panel {
	position:relative;
}
/*.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}*/
.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}
.panel-body img{
    max-height: 200px;
}
.commData > *{
    display:inline-block;
    font-size: 16pt;
    line-height: 1.428;
}
.commData span{
    font-weight:bold;
}
.commData > h3, .commData > div{
    margin:0 15px 0 0;
    float:right;
}
.commSection{
    margin-bottom:40px;
}
.commList, .meetingsList{
    font-size: 14pt;
}
.commSectionTab a, .nav-tabs li a{
    font-size: 16pt;
}
.commList > table, .meetingsList > table{
    border-bottom:1px solid #ddd;
}
.membersSection {
    margin: 7px;
}
jumbotron{
    text-align: center;
}
span.text-danger{
    font-size:18px;
}
/*select.btn{
    margin-top: 5px;
}*/
.createNew{
    margin-left: 9px;
}
.jumbotron{
    text-align: center;
}
.courseAddProf{
    /*margin-right: 15px;*/
    margin-bottom: 10px;
}
#logoutForm button{
    padding: 11px 12px;
    margin: 0;
}
input[type='checkbox']{
    width:auto;
    box-shadow:none;
} 
.semList{
        width: 100%;
}
.semList td, .semList th{
    padding:10px;
}
/*.table > tbody > tr > td{
    border-top: none !important;
}*/
.jumbotron {
  height: 450px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
}
.bg{
  position: fixed;
  width: 100%;
  height: 450px; /*same height as jumbotron */
  left:0;
  z-index: -1;
}
.bgMain {
  background: url('/images/pexels-photo-12064.jpeg') no-repeat center center;
    background-size: cover;

}
.bgProf{
    background: url('/images/laptopGlassesPen.jpeg') no-repeat center top;
      background-size: cover;

}
.bgAdmin{
    background: url('/images/william-iven-5893.jpg') no-repeat center center;
      background-size: cover;

}
.bgComm{
    background: url('/images/pexels-photo.jpg') no-repeat center center;
      background-size: cover;

}
.bgReq{
    background: url('/images/phone-1052023_1920.jpg') no-repeat center center;
      background-size: cover;

}
.bgWork{
    background: url('/images/survey-opinion-research-voting-fill-159353.jpeg') no-repeat center center;
      background-size: cover;
}

/*TabpaneSec*/
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}
/*Tabpaneend*/
.saveWorkload{
    color: #337ab7;
    background-color: rgba(92, 184, 92, 0.49);
}
.saveWorkload:hover{
    background-color: #5cb85c;
    color:#fff;
}
.inputAsTab{
    -webkit-appearance: button;
    cursor: pointer;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    position: relative;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    background-color: #f0ad4e;
    font-size: 16pt;
}
#WorkflowForm .form-group{
    min-height:45px;
}
#WorkflowForm label{
    font-size: 16px;
}
#WorkflowForm .form-group>span{
    padding-right: 7px;
    float: right;
    font-size:16px;
}
.workflowList{
    padding:15px 15px 15px 15px;
}
.workflowList>p{
	font-weight: bold;
	float: left;
	width: 100%;
    font-size:14pt;
}
.workflowList span{
	float: right;
	font-weight: normal;
	float: right;
}
@media (min-width: 768px) {
    .tabsectionBordered {
        border-right: 1px solid #ccc;
    }
}
#workfloPresentaion h3{
    text-align: center;
    //padding-bottom:30px;
}

.meetingsInline{
    font-size: 14pt;
    text-align: justify;
    display: flex;
}
.meetingsInline li{
    margin: auto;
}
.meetingsInline span{
    font-weight:bold;
    margin-right:10px;
}
.meetingsInline li:first-child{
    margin-left:0;
}
.meetingsInline li:last-child{
    margin-right:0;
}
#meetingTab .commentBtn:hover, #meetingTab .fileBtn:hover{
    background-color: #449d44;
}
@media (max-width: 768px) {
    .meetingsInline {
       display: block;
    }
    .meetingsInline li {
        width: 100%;
        margin-bottom:5px;
    }
    #meetingTab li{
        float:none;
    }
    #meetingTab .fileBtn, #meetingTab .commentBtn{
        color:#5cb85c;
        background-color:transparent;
    }
    #meetingTab a{
        border-bottom-color: #ddd;
    }
    #meetingTab .active a::before{
    content: "\f105";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 13px;
    left: 5px;
    }
}
#publicSection .messageTime{
    float: right;
}