@model ContosoUniversity.Models.Student

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Student</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="FirstMidName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FirstMidName" class="form-control" />
                <span asp-validation-for="FirstMidName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProgramID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ProgramID" class="form-control" asp-items="ViewBag.ProgramID">
                    <option value="">-- Select Program --</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Approved" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Approved" class="form-control" />
                <span asp-validation-for="Approved" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EmailConfirmed" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EmailConfirmed" class="form-control" />
                <span asp-validation-for="EmailConfirmed" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-1">
                <a class="btn btn-info" asp-action="Index">Cancel</a>
            </div>
            <div class="col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

@*<div>
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
